@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="estilo2">Bienvenido a mi Prueba</h1>
    <p class="estilo">Mi nombre es Sebastian Cadena y mi hobbie es escuchar musica</p>
    <img src="https://i.blogs.es/d86db0/meme-fry-1/450_1000.jpg" />

    <br />
    <br />
    <br />
    <br />
    <br />

    <button type="button" class="btn btn-success">Success</button>
    
</div>
